.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5vw 0;
}

.logo {
  width: 22.9vw;
}

.presentation {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  text-align: center;
}

.description {
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 120.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
}

.moreButton {
  width: 7.83vw;
  height: 2.34vw;
  background-color: #FF3B21;
  color: #fff;
  border-radius: 1.17vw;
  border: none;
  font-weight: 700;
  font-size: 1.17vw;
}

.moreButton:hover {
  cursor: pointer;
}

.searchInput {
  display: none;
}

.contentContainer {
  max-width: 98vw;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 5vw 1vw;
}

.showSlider {
  position: relative;
  width: 80vw;
  height: 33vw;
}

.content {
  position: relative;
  height: 35vw;
  display: inline-flex;
  gap: 1.5vw;
  flex-wrap:nowrap;
  overflow-x: scroll;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.arrow {
  width: 3.91vw;
}

.arrow:hover {
  cursor: pointer;
  scale: 120%;
}

/* Mobile */
@media (max-width: 700px) {

  .main {
    background: linear-gradient(0deg, rgba(255,59,33,1) 0%, rgba(255,255,255,1) 100%);
    padding: 10vw 0;
  }

  .contentContainer {
    display: none;
  }

  .logo {
    width: 45.3vw;
  }
  
  .presentation {
    gap: 8vw;
    width: 69vw;
  }
  
  .description {
    font-size: 3vw;
    gap: 3vw;
  }
  
  .moreButton {
    width: 16vw;
    height: 5vw;
    border-radius: 2.5vw;
    font-size: 2.4vw;
  }

  .serachResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchInput {
    width: 14.33vw;
    height: 2.67vw;
    border: 0.083vw solid #d9d9d9;
    border-radius: 0.166vw;
  }

}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
