.container {
  width: 66vw;
  height: 7.5vw;
  color: #808080;
  font-size: 1.34vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.searchBar {
  width: 18.5vw;
  height: 2.67vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}

.searchInput {
  width: 14.33vw;
  height: 2.67vw;
  border: 0.083vw solid #d9d9d9;
  border-radius: 0.166vw;
}

@keyframes mymove {
  from {
    left: -2vw;
  }
  to {
    left: 0vw;
  }
}

.searchIcon {
  width: 2.17vw;
}

.searchIcon:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    display: none;
  }
}
