.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 5vw 0;
  }
  
  .logo {
    width: 22.9vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    align-items: center;
    text-align: center;
  }

  .reportsList {
    max-width: 47vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.8vw;
  }

  .reportItem {
    width: 22.5vw;
    height: 2.92vw;
    border-radius: 1.17vw;
    font-size: 1.33vw;
    font-weight: 700;
    color: #fff;
    background-color: #FF3B21;
    border: none;
  }

  .titleResponsive {
    display: none;
  }

  @media (max-width: 700px) {
    .main {
      padding: 10vw 0;
    }
    
    .logo {
      width: 42.9vw;
    }
  
    .content {
      gap: 8vw;
    }
  
    .reportsList {
      max-width: 47.7vw;
      max-height: 143vw;
      gap: 3.6vw;
      overflow-y: scroll;
    }
  
    .reportItem {
      width: 47.7vw;
      height: 9.33vw;
      border-radius: 3.73vw;
      font-size: 4.27vw;
    }

    .titleResponsive {
      display: initial;
      width: 72vw;
      color: #0000FF;
      font-size: 4.8vw;
    }

  }